<html>

<body>
    <form action="/descriptor/post" method="post">
        {% csrf_token %}
        <div>
            <label for="SMILES">SMILES</label>
            <br>
            <textarea id="SMILES" name="SMILES">{{ SMILES }}</textarea>
        </div>
        <label><input type="checkbox" name="opt[]" value="rdkit">rdkit</label>
        <label><input type="checkbox" name="opt[]" value="avalonFP">avalonFP</label>
        <label><input type="checkbox" name="opt[]" value="mordred2d">mordred2d</label>
        <label><input type="checkbox" name="opt[]" value="JR" checked="checked">JR</label>
        <label><input type="checkbox" name="opt[]" value="PM7">PM7</label>
        <br>
        <div>
            <label for="filename">filename</label>
            <input type="filename" id="filename" name="filename" value="descriptor.csv">
        </div>
        <input type="submit" value="Calculate!">
        <br>
        <br>
        <br>
        <label><input type="checkbox" name="json" value="json">export as json</label>

    </form>
</body>

</html>